<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>internetshop.controller.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>getAllUsers</servlet-name>
    <servlet-class>internetshop.controller.GetAllUsersController</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>getAllUsers</servlet-name>
        <url-pattern>/allUsers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>internetshop.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>internetshop.controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllItems</servlet-name>
        <servlet-class>internetshop.controller.GetAllItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllItems</servlet-name>
        <url-pattern>/allItems</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addItemToBucket</servlet-name>
        <servlet-class>internetshop.controller.AddItemToBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItemToBucket</servlet-name>
        <url-pattern>/addItemToBucket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addItem</servlet-name>
        <servlet-class>internetshop.controller.AddItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addItem</servlet-name>
        <url-pattern>/addItem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>bucket</servlet-name>
        <servlet-class>internetshop.controller.GetBucketController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bucket</servlet-name>
        <url-pattern>/bucket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteFromBucket</servlet-name>
        <servlet-class>internetshop.controller.DeleteFromBucket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteFromBucket</servlet-name>
        <url-pattern>/deleteFromBucket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>completeOrder</servlet-name>
        <servlet-class>internetshop.controller.CompleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>completeOrder</servlet-name>
        <url-pattern>/completeOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getAllOrders</servlet-name>
        <servlet-class>internetshop.controller.GetAllOdrersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllOrders</servlet-name>
        <url-pattern>/allOrders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>internetshop.controller.DeleteOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getItemsFromOrder</servlet-name>
        <servlet-class>internetshop.controller.GetItemsFromOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getItemsFromOrder</servlet-name>
        <url-pattern>/getItemsFromOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>injectData</servlet-name>
        <servlet-class>internetshop.controller.InjectData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>injectData</servlet-name>
        <url-pattern>/injectData</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>internetshop.controller.InjectIniyializer</listener-class>
    </listener>
</web-app>
